body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
  text-align: center;
  background-color: rgb(193, 206, 206);
}

h1 {
  color:rgb(116, 91, 71);
}

h2 {
  margin-top: 2em; 
  color: white;
}

button {
  background-color: rgb(126, 176, 186);
  color: white;
  border-radius: 10px;
  height: 2em;
  border-style: solid;
  border-color: black;
}
button:hover {
  background-color: rgb(47, 91, 100, 0.8);
  color: #69D2E7;
  border-radius: 10px;
  height: 2em;
}
button:active {
  background-color: rgb(47, 91, 110, 0.8);
  box-shadow: 0 5px #666;
}

.question {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2em;
  background-color: yellow;
}
  
.answer-choice img {
  width: auto;
  height: 8em;
  margin: 1em;
  border-radius: 20px;
}
#clear1{
  margin: 20px;
}
#clear2{
  margin: 20px;
}
#clear3{
  margin: 20px;
}
#clear4{
  margin: 20px;
}
#clear5{
  margin: 20px;
}
#clear6 {
  margin: 20px;
}